@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap");

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: auto;
  background-color: #010000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.read-the-docs {
  color: #888;
}
